* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding-top: 50px;
  padding-bottom: 50px;
}
.background .flexs .texth2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  font-size: 40px;
}
.background .flexs .texth2 h2 {
  font-family: "Nova Square", sans-serif;
  color: rgb(202, 165, 0);
  width: 200px;
}
.background .flexs .control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background .flexs .control .images img {
  height: 35vh;
  border-radius: 10px;
}
.background .flexs .control .texts {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.background .flexs .control .texts .textflex {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.background .flexs .control .texts .textflex h2 {
  font-family: "Nova Square", sans-serif;
  color: rgb(202, 165, 0);
}
.background .flexs .control .texts .textflex h3 {
  font-family: "Nova Square", sans-serif;
  color: white;
  width: 200px;
}
.background .flexs .control .texts .textflex h4 {
  width: 200px;
  font-family: "Nova Square", sans-serif;
  color: white;
  font-size: 16px;
}
.background .flexs .textflex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.background .flexs .textflex1 h2 {
  font-family: "Nova Square", sans-serif;
  color: rgb(202, 165, 0);
}
.background .flexs .textflex1 h3 {
  font-family: "Nova Square", sans-serif;
  color: white;
  width: 200px;
}
.background .flexs .textflex1 h4 {
  width: 200px;
  font-family: "Nova Square", sans-serif;
  color: white;
  font-size: 16px;
}
.background .flexs .h2texts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.background .flexs .h2texts h2 {
  font-family: "Nova Square", sans-serif;
  color: rgb(202, 165, 0);
  font-size: 40px;
}
.background .flexs .controlimages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.background .flexs .controlimages a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 15px;
  margin-top: 90px;
}
.background .flexs .controlimages a img {
  cursor: grabbing;
  height: 15vh;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.background .flexs .controlimages a h2 {
  font-family: "Nova Square", sans-serif;
  color: white;
  font-size: 14px;
}
.background .flexs .youtubeimages {
  margin-top: 80px;
  gap: 50px;
}
.background .flexs .youtubeimages .youtubemedia {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.background .flexs .youtubeimages .youtubemedia .textimages h2 {
  font-family: "Nova Square", sans-serif;
  color: rgb(202, 165, 0);
  font-size: 40px;
}
.background .flexs .youtubeimages .youtubemedia .youtubeflexs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
.background .flexs .youtubeimages .youtubemedia .youtubeflexs .iframes {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.background .flexs .youtubeimages .youtubemedia .youtubeflexs .iframes img {
  width: 80%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .background .flexs .texth2 h2 {
    width: 500px;
  }
  .background .flexs .control {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }
  .background .flexs .control .images img {
    height: 55vh;
    border-radius: 10px;
  }
  .background .flexs .control .texts {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .background .flexs .control .texts .textflex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .background .flexs .control .texts .textflex h2 {
    font-size: 25px;
  }
  .background .flexs .control .texts .textflex h3 {
    font-size: 18px;
  }
  .background .flexs .control .texts .textflex h4 {
    width: 500px;
    font-family: "Nova Square", sans-serif;
    color: white;
    font-size: 16px;
  }
  .background .flexs .textflex1 {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .background .flexs .textflex1 h2 {
    font-family: "Nova Square", sans-serif;
    color: rgb(202, 165, 0);
    font-size: 25px;
  }
  .background .flexs .textflex1 h4 {
    width: 650px;
    font-family: "Nova Square", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 30px;
  }
  .background .flexs .h2texts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .background .flexs .h2texts h2 {
    font-family: "Nova Square", sans-serif;
    color: rgb(202, 165, 0);
    font-size: 40px;
  }
  .background .flexs .controlimages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
  .background .flexs .controlimages a img {
    height: 20vh;
  }
  .background .flexs .controlimages a h2 {
    font-size: 20px;
  }
  .background .flexs .youtubeimages {
    margin-top: 80px;
    gap: 50px;
  }
  .background .flexs .youtubeimages .youtubemedia {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .background .flexs .youtubeimages .youtubemedia .textimages h2 {
    font-family: "Nova Square", sans-serif;
    color: rgb(202, 165, 0);
    font-size: 40px;
  }
  .background .flexs .youtubeimages .youtubemedia .youtubeflexs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 60px;
  }
  .background .flexs .youtubeimages .youtubemedia .youtubeflexs .iframes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 90px;
  }
  .background .flexs .youtubeimages .youtubemedia .youtubeflexs .iframes img {
    width: 100%;
    height: 24vh;
  }
}/*# sourceMappingURL=index.module.css.map */